$small-font: .7rem;
$big-font: 15px;
$icon-font: 25px;
$letter-spacing: 2px;

$gray: #faf5f3;
$white: #ebebf0;
$smoky-black: rgba(#222222, .85);
$ball: #e8581c;

.find-place-container{
    .navi-wrapper{ 
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 464px){
            display: none;
        }
        .search-bar-wrapper{
            display: flex;
            .search-bar{
                margin-left: 5%;
                width: 20vw;
                min-width: 120px;
                max-width: 300px;
                label{
                    font-size: $small-font;
                    letter-spacing: $letter-spacing;
                }
            }
            .current-position-btn{
                margin-left: 12px;
                margin-top: 24px;
                font-size: $small-font;
                span{
                    white-space:nowrap;
                }
            } 
        }
        .mark-explain{
            display: flex;
            margin-top: 2%;
            margin-right: 2.5%; 
            @media screen and (max-width: 720px){
                flex-direction: column;
            }
            .user-explain{
                margin-left: 10px;
                font-size: $small-font;
                letter-spacing: $letter-spacing;
            }
            img{
                margin-right: 10px;
                width: 15px;
                height: 15px;
            }
        }
    }
    .open-navi-btn{
        display: none;
        @media screen and (max-width: 464px){
            display: block;
        }
    }
    .burger-navi{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 2.5%;
        height: 0px;
        overflow: hidden;
        transition: all 2s;
        .search-bar-wrapper{
            display: flex;
            @media screen and (max-width: 464px){
                flex-direction: column;
                align-items: baseline;
            }
            .search-bar{
                margin-left: 5%;
                width: 20vw;
                min-width: 120px;
                max-width: 300px;
                label{
                    font-size: $small-font;
                    letter-spacing: $letter-spacing;
                }
            }
            .current-position-btn{
                margin-left: 12px;
                margin-top: 24px;
                font-size: $small-font;
                span{
                    white-space:nowrap;
                }
            } 
        }
        .mark-explain{
            display: flex;
            margin-top: 2%;
            margin-right: 2.5%; 
            @media screen and (max-width: 720px){
                flex-direction: column;
            }
            .user-explain{
                margin-left: 10px;
                font-size: $small-font;
                letter-spacing: $letter-spacing;
            }
            img{
                margin-right: 10px;
                width: 15px;
                height: 15px;
            }
        }
    }
    .change-map-view-btn-wrapper{
        margin-left: 2.5%;
        width: 95%;
        border-bottom: 1px solid #000000;
        .display-btn{
            font-size: $small-font;
            letter-spacing: $letter-spacing;
            border-top: 1px solid #ebebf0;
            border-right: 1px solid #ebebf0;
            border-left: 1px solid #ebebf0;
            &:hover{
                border-top: 1px solid $ball;
                border-right: 1px solid $ball;
                border-left: 1px solid $ball;
            }
        }
    } 
}