$small-font: .7rem;
$big-font: 15px;
$icon-font: 25px;
$letter-spacing: 2px;

$gray: #faf5f3;
$white: #ebebf0;
$smoky-black: rgba(#222222, .85);
$ball: #e8581c;


.find-place-container{
    .groups-lists-container{
        width: 95%;
        margin: 0 auto;
        th{
            min-width: 100px;
        }
        td{
            min-width: 100px;
        }
        .word-icon-wrapper{
            .sort-word{
                color: rgba(0, 0, 0, 0.87);
                font-weight: 500;
                line-height: 1.5rem;
                font-size: 0.875rem;
                text-align: end;
                &:before{
                    content: "⇡";
                    position: absolute;
                    left: 70%;
                }
                &:after{
                    content: "⇣";
                    position: absolute;
                    left: 80%;
                }
            }
            .sort-icon{
                font-size: 15px;
            }
        }
        .table-body{
           
            .content-row{
                cursor: pointer;
            }
        }
    }
}


