$small-font: .7rem;
$big-font: 15px;
$icon-font: 25px;
$letter-spacing: 2px;

$gray: #faf5f3;
$white: #ebebf0;
$smoky-black: rgba(#222222, .85);
$ball: #e8581c;


.find-place-container{
    .infoWindow-container{
        display: flex;
        cursor: pointer;
        .col-left{
            width: 40%;
            img{
                width: 100%;
                background-size: cover;
            }
        }
        .col-right{
            margin-left: 10px;
            .place-name{
                font-size: $small-font;
                letter-spacing: $letter-spacing;
                margin-bottom: 10px;
                transition: all .3s ease-in;
                &:hover{
                    letter-spacing: 2px;
                }
            }
            .place-rooms{
                .groups{
                    display: flex;
                    flex-wrap: wrap;
                    .group{
                        font-size: $small-font;
                        letter-spacing: $letter-spacing;
                        margin-right: 10px;
                        margin-bottom: 10px;
                        padding: 3px;
                        border: 1px solid $smoky-black;
                        border-radius: 8px;
                        transition: all .3s ease-in;
                        &:hover{
                            color: #ffffff;
                            background-color: $smoky-black;
                        }
                    }
                    .default-group-words{
                        font-size: $small-font;
                    }
                }
            }
        }
    }
}