$small-font: .7rem;
$big-font: 15px;
$icon-font: 25px;
$letter-spacing: 2px;

$gray: #faf5f3;
$white: #ebebf0;
$smoky-black: rgba(#222222, .85);
$ball: #e8581c;

.find-place-container{
    .map-container{
        & > div{
            height: 70%!important;
        }
        .gm-style-mtc > div{
            padding: 5px 20px!important;
            font-size: $small-font!important;
            letter-spacing: $letter-spacing!important;
            color: $smoky-black!important;
            background-color: $white!important;
        }
        .gm-svpc > div > img{
            width: 15px!important;
            height: 15px!important;
        }
        .gm-control-active > img{
            width: 10px!important;
            height: 10px!important;
        }
        .gm-style-iw-c{
            width: 30vw;
        }
    }
}