$small-font: .7rem;
$icon-font: 1rem;
$big-font: 1.3rem;

$ball: #e8581c;
$gray: #faf5f3;
$white: #ebebf0;
$smoky-black: rgba(#222222, .85);

body{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, p, span{
    font-family: 'Sriracha','Noto Sans TC', cursive;
}

a, li{
    text-decoration: none;
    list-style: none;
    color: #000000;
}

button{
    cursor: pointer;
}

.hide{
    display: none!important;
}

.show{
    display: block;
}

.warning{
    margin-top: 5px;
    font-size: 15px;
    color: #ea4336;
    text-align: end;
    border: 1px solid #000000;
    border-radius: 8px;
    background-color: #ffffff;
}

.start-rotating{
    transform: rotate(0deg);
}

.end-rotating{
    transform: rotate(180deg);
}

.alert-title{
    font-size: $big-font;
    letter-spacing: 1px;
}
.alert-content{
    text-align: center;
    img{
        width: 100px;
    }
}
.alert-btn-wrapper{
    .alert-btn{
        color: $white;
        background-color: $smoky-black;
        &:hover{
            background-color: $ball;
        }
    }
}

