
body{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, p{
    font-family: 'Sriracha', cursive;
}

a, li{
    text-decoration: none;
    list-style: none;
    color: #000000;
}

button{
    cursor: pointer;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.warning{
    margin-top: 5px;
    font-size: 15px;
    color: #ea4336;
    text-align: end;
    border: 1px solid #000000;
    border-radius: 8px;
    background-color: #ffffff;
}

.start-rotating{
    transform: rotate(0deg);
}

.end-rotating{
    transform: rotate(180deg);
}

