
.find-place-container{
    .navi-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .search-bar-wrapper{
            display: flex;
            .search-bar{
                margin-left: 5%;
                width: 30vw;
                max-width: 300px;
            }
            .current-position-btn{
                span{
                    white-space:nowrap;
                }
                margin-left: 10px;
                margin-top: 24px;
            }
        }
        .mark-explain{
            margin-top: 2%;
            margin-right: 5%;
            img{
                width: 15px;
                height: 15px;
            }
        }
    }
    .change-map-view-btn-wrapper{
        position: absolute;
        top: 23%;
        left: 2.5%;
        width: 95%;
        border-bottom: 1px solid #ebebf0;
        // fix:hover issue
        .display-btn{
            border-top: 1px solid transparent;
            border-right: 1px solid transparent;
            border-left: 1px solid transparent;
            z-index: 1000;
            // &:hover{
            //     border-top: 1px solid #ebebf0;
            //     border-right: 1px solid #ebebf0;
            //     border-left: 1px solid #ebebf0;
            // }
        }
    }
    .place-container{
        cursor: pointer;
        .place-name{
            font-size: 20px;
            margin-bottom: 10px;
            transition: all .3s ease-in;
            &:hover{
                letter-spacing: 2px;
            }
        }
        .place-address{
            padding: 2px;
            margin-bottom: 10px;
        }
        .place-rooms{
            .groups{
                display: flex;
                flex-wrap: wrap;
                .group{
                    margin-right: 10px;
                    margin-bottom: 10px;
                    padding: 3px;
                    border: 1px solid #000000;
                    border-radius: 8px;
                    transition: all .3s ease-in;
                    &:hover{
                        color: #ffffff;
                        background-color: #000000;
                    }
                }
            }
        }
    }
}