$small-font: .7rem;
$big-font: 15px;
$icon-font: 25px;
$letter-spacing: 2px;

$gray: #faf5f3;
$white: #ebebf0;
$smoky-black: rgba(#222222, .85);
$ball: #e8581c;

.find-place-container{
    .navi-wrapper{ 
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 464px){
            display: none;
        }
        .search-bar-wrapper{
            display: flex;
            .search-bar{
                margin-left: 5%;
                width: 20vw;
                min-width: 120px;
                max-width: 300px;
                label{
                    font-size: $small-font;
                    letter-spacing: $letter-spacing;
                }
            }
            .current-position-btn{
                margin-left: 12px;
                margin-top: 24px;
                font-size: $small-font;
                span{
                    white-space:nowrap;
                }
            } 
        }
        .mark-explain{
            display: flex;
            margin-top: 2%;
            margin-right: 2.5%; 
            @media screen and (max-width: 720px){
                flex-direction: column;
            }
            .user-explain{
                margin-left: 10px;
                font-size: $small-font;
                letter-spacing: $letter-spacing;
            }
            img{
                margin-right: 10px;
                width: 15px;
                height: 15px;
            }
        }
    }
    .open-navi-btn{
        display: none;
        @media screen and (max-width: 464px){
            display: block;
        }
    }
    .burger-navi{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 2.5%;
        height: 0px;
        overflow: hidden;
        transition: all 2s;
        .search-bar-wrapper{
            display: flex;
            @media screen and (max-width: 464px){
                flex-direction: column;
                align-items: baseline;
            }
            .search-bar{
                margin-left: 5%;
                width: 20vw;
                min-width: 120px;
                max-width: 300px;
                label{
                    font-size: $small-font;
                    letter-spacing: $letter-spacing;
                }
            }
            .current-position-btn{
                margin-left: 12px;
                margin-top: 24px;
                font-size: $small-font;
                span{
                    white-space:nowrap;
                }
            } 
        }
        .mark-explain{
            display: flex;
            margin-top: 2%;
            margin-right: 2.5%; 
            @media screen and (max-width: 720px){
                flex-direction: column;
            }
            .user-explain{
                margin-left: 10px;
                font-size: $small-font;
                letter-spacing: $letter-spacing;
            }
            img{
                margin-right: 10px;
                width: 15px;
                height: 15px;
            }
        }
    }
    .change-map-view-btn-wrapper{
        margin-left: 2.5%;
        width: 95%;
        border-bottom: 1px solid #000000;
        // fix:hover issue
        .display-btn{
            font-size: $small-font;
            letter-spacing: $letter-spacing;
            border-top: 1px solid #ebebf0;
            border-right: 1px solid #ebebf0;
            border-left: 1px solid #ebebf0;
            &:hover{
                border-top: 1px solid $ball;
                border-right: 1px solid $ball;
                border-left: 1px solid $ball;
            }
        }
    }
    .map-container{
        & > div{
            height: 70%!important;
        }
        .gm-style-mtc > div{
            padding: 5px 20px!important;
            font-size: $small-font!important;
            letter-spacing: $letter-spacing!important;
            color: $smoky-black!important;
            background-color: $white!important;
        }
        .gm-svpc > div > img{
            width: 15px!important;
            height: 15px!important;
        }
        .gm-control-active > img{
            width: 10px!important;
            height: 10px!important;
        }
        .gm-style-iw-c{
            width: 30vw;
        }
    }
    .place-container{
        display: flex;
        cursor: pointer;
        .col-left{
            width: 40%;
            img{
                width: 100%;
                background-size: cover;
            }
        }
        .col-right{
            margin-left: 10px;
            .place-name{
                font-size: $small-font;
                letter-spacing: $letter-spacing;
                margin-bottom: 10px;
                transition: all .3s ease-in;
                &:hover{
                    letter-spacing: 2px;
                }
            }
            .place-rooms{
                .groups{
                    display: flex;
                    flex-wrap: wrap;
                    .group{
                        font-size: $small-font;
                        letter-spacing: $letter-spacing;
                        margin-right: 10px;
                        margin-bottom: 10px;
                        padding: 3px;
                        border: 1px solid $smoky-black;
                        border-radius: 8px;
                        transition: all .3s ease-in;
                        &:hover{
                            color: #ffffff;
                            background-color: $smoky-black;
                        }
                    }
                    .default-group-words{
                        font-size: $small-font;
                    }
                }
            }
        }
    }
    .groups-lists-container{
        width: 95%;
        margin: 0 auto;
        th{
            min-width: 100px;
        }
        td{
            min-width: 100px;
        }
        .word-icon-wrapper{
            .sort-word{
                color: rgba(0, 0, 0, 0.87);
                font-weight: 500;
                line-height: 1.5rem;
                font-size: 0.875rem;
                text-align: end;
                &:before{
                    content: '⇡';
                    position: absolute;
                    left: 70%;
                }
                &:after{
                    content: '⇣';
                    position: absolute;
                    left: 80%;
                }
            }
            .sort-icon{
                font-size: 15px;
            }
        }
        .table-body{
           
            .content-row{
                cursor: pointer;
            }
        }
    }
}