$small-font: 10px;
$big-font: 18px;
$icon-font: 25px;
$letter-spacing: 3px;

$white: #ebebf0;
$ball: #e8581c;
$gray: #faf5f3;
$alert: #dd2c00;
$smoky-black: rgba(#222222, .85);

.find-people-container{
    .friends-list-wrapper{
        //autocompeleted
        .btn-autocomplete-wrapper{
            display: flex;
            .btn-wrapper{
                display: flex;
                margin-top: 30px;
                margin-right: 10px;
                .all-user-btn{
                    font-size: $small-font;
                    letter-spacing: $letter-spacing;
                }
                .friends-btn{
                    font-size: $small-font;
                    letter-spacing: $letter-spacing;
                }
            }
            .autocomplete{
                margin-left: 10px;
                .search-bar{
                    width: 20vw;
                    label{
                        font-size: $small-font;
                        letter-spacing: $letter-spacing;
                    }
                    .Mui-focused{
                        color: $ball;
                    }
                    input{
                        
                    }
                    span{
                        
                    }
                } 
            }
        }
        // all user
        .list-picture-wrapper{
            background-image: url(../../img/member2.jpg);
            background-size: cover;
            width: 100vw;
            height: 100vh;
            .col-left{
                padding: 15px 30px;
                position: absolute;
                top: 58%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 55vw;
                border-radius: 8px;
                background-color: $white;
                .all-users-container{
                    .user-img-wrapper{
                        .user-img{
        
                        }
                    }
                    .user-name{
                        span, p{ 
                            font-size: $small-font;
                            letter-spacing: $letter-spacing;
                        }
                    }
                    .user-groups{
                        margin-right: 10px;
                        color: $white;
                        background-color: $smoky-black;
                        &:hover{
                            color: $white;
                            background-color: $ball;
                        }
                        .user-group-name{
                            font-size: $small-font;
                            letter-spacing: $letter-spacing;
                        }
                    }
                }
                //friends
                .friends-list-container{
                    border-radius: 8px;
                    background-color: rgba($color: $white, $alpha: .5);
                    .friends-img-wrapper{
                        .friend-img{
                            margin-right: 10px;
                            background-color: $white;
                            img{
                                padding: 10px;
                            }
                        }
                    }
                    .friend-name{
                        span, p{
                            font-size: $small-font;
                            letter-spacing: $letter-spacing;
                        }
                    }
                    .friend-groups{
                        padding: 5px;
                        font-size: $small-font;
                        letter-spacing: $letter-spacing;
                        background-color: $gray;
                        cursor: pointer;
                        &:hover{
                            color: $white;
                            background-color: $ball;
                        }
                        .friend-groups-name{
                            font-size: $small-font;
                            letter-spacing: $letter-spacing;
                        }
                    }
                }
            }
            .col-right{
               
            }
        }
    }
}
