$small-font: 10px;
$big-font: 18px;
$icon-font: 25px;

$gray: #faf5f3;
$ball: #e8581c;
$facebook: #4267b2;
$google: #ea4336;
$white: #ebebf0;


.friends-container{
    .friends-list-container{
        
        .friends-list{
            .each-list{
                .friend-img{

                }
                .friend-intro{

                }
            }
        }
    }
}