// font size
$small-font: .7rem;
$big-font: 18px;
$icon-font: 25px;
//color
$white: #ebebf0;
$ball: #e8581c;


.homepage-container{
    .banner{
        background-image: url(../../img/banner2.jpg);
        background-size: cover;
        width: 100vw;
        height: calc(100vh - 36px);
        .about{
            position: absolute;
            right: 6%;
            top: 25%;
            color: $white;
            .about-words{
                font-size: 1.5rem;
            }
            .author{
                text-align: end;
            }
        }
        .btn-wrapper{
            .find-group{
                font-size: $small-font;
                margin-top: 15px;
                padding: 10px 25px;
                color: $white;
                background-color: $ball;
                border-radius: 8px;
            }
        }
    }
}





