$small-font: 10px;
$big-font: 18px;
$icon-font: 25px;

$gray: #faf5f3;
$ball: #e8581c;
$facebook: #4267b2;
$google: #ea4336;
$white: #ebebf0;
$smoky-black: rgba(#222222, .85);


.login-container{
  background-image: url(https://i.imgur.com/Ko89ycE.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: relative;
  width: 100vw;
  height: 100vh;
  .over-lay{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.4);
    .login-form-bounce-right{
      animation: bounceRight 1s forwards;
    }
    .login-form-bounce-left{
      animation: bounceLeft 1s forwards;
    }
    .login-form {
      padding: 20px 20px 20px 20px;
      position: absolute;
      top: 50%;
      left: 68%;
      width: 30vw;
      transform: translate(-50%, -50%);
      background-color: $white;
      border-radius: 8px;
      -webkit-box-shadow: -13px 17px 59px -17px rgba(0,0,0,0.75);
      -moz-box-shadow: -13px 17px 59px -17px rgba(0,0,0,0.75);
      box-shadow: -13px 17px 59px -17px rgba(0,0,0,0.75);
      z-index: 300;
      @media (max-width: 1200px){
        width: 20vw;
      }
      .form-wrapper{
        opacity: 0;
        visibility: hidden;
        transition: opacity .4s ease-in-out, visibility .4s ease-in-out, transform .5s ease-in-out;  
        animation: showSignUp 1s forwards;  
        .form-control{
          margin: 0px;
          .name-icon, .email-icon, .password-icon{
            font-size: $icon-font;
            margin-top: 22px;
            margin-right: 12px;
          }
          .name{
            label{
              font-size: $small-font;
            }
            input{
              font-size: $small-font;
            }
          }
          .email{
            label{
              font-size: $small-font;
            }
            input{
              font-size: $small-font;
            }
          }
          .password{
            label{
              font-size: $small-font;
            }
            input{
              font-size: $small-font;
            }
          }
          .comfirm{
            label{
              font-size: $small-font;
            }
            input{
              font-size: $small-font;
            }
          }
        }
        .btn-wrapper{
          .login-btn{
            padding: 8px 25px;
            font-size: $small-font;
            background-color: $ball;
          }
          .signup-btn{
            margin-top: 15px;
            padding: 8px 25px;
            font-size: $small-font;
            background-color: $ball;
          }
        }
      }
    }
    .login-option{
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70vw;
      height: 40%;
      background-color: rgba(34, 34, 34, 0.85);
      border-radius: 8px;
      .col-left{
        padding: 50px 45px;
        width: 50%;
        @media (max-width: 840px){
          padding: 50px 30px 20px 30px;
        }
        .header{
          margin-bottom: 15px;
          color: $white;
          font-size: $big-font;
        }
        .content{
          margin-bottom: 40px;
          color: $white;
          font-size: $small-font;
          @media (max-width: 840px){
            margin-bottom: 20px;
          }
        }
        .signup-btn{
          margin-right: 10px;
          color: $white;
          border-color: $white;
          @media (max-width: 840px){
            margin-bottom: 10px;
          }
        }
        .home-btn{
          color: $white;
          border-color: $white;
        }
      }
      .col-right{
        padding: 50px 45px;
        width: 50%;
        @media (max-width: 840px){
          padding: 45px 15px 20px 35px;
        }
        .header{
          margin-bottom: 15px;
          color: $white;
          font-size: $big-font;
        }
        .content{
          margin-bottom: 40px;
          color: $white;
          font-size: $small-font;
          @media (max-width: 840px){
            margin-bottom: 20px;
          }
        }
        .login-btn{
          margin-right: 10px;
          color: $white;
          border-color: $white;
          @media (max-width: 840px){
            margin-bottom: 10px;
          }
        }
        .home-btn{
          color: $white;
          border-color: $white;
        }
      }
    }
  }
}

@keyframes bounceLeft{
  0% {transform: translate3d(-20vw, -50%, 0);}

  50% {transform: translate3d(-55vw, -50%, 0)}

  100% {transform: translate3d(-50vw, -50%, 0)}
}

@keyframes bounceRight{
  0%{transform: translate3d(-50vw, -50%, 0)}

  50%{transform: translate3d(-15vw, -50%, 0)}

  100%{transform: translate3d(-20vw, -50%, 0)}
}

@keyframes showSignUp{
  100%{
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
  } 
}

