$small-font: 5px;
$big-font: 18px;
$icon-font: 25px;
$gray: #faf5f3;
$ball: #e8581c;


.open-group-container{
    .form-wrapper{
        background-image: url(../../img/open-group.jpg);
        background-size: cover;
        width: 100vw;
        height: 100vh;
        .form{
            padding: 30px 80px 60px 80px;
            background: $gray;
            z-index: 10;
            width: 20%;
            height: 350px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            opacity: 0.85;
            .form-title{
                text-transform: uppercase;
                font-size: $big-font;
                color: darken( #4e3332, 10% );
                letter-spacing: 0.061em;
            }
            label{
                font-size: 5px;
                letter-spacing: 0.02em;
                line-height: 1.8em;
            }
            .name{
                p{
                    font-size: $small-font;
                    color: #dd2c00;
                }
            }
            .people{
                p{
                    font-size: $small-font;
                    color: #dd2c00;
                }
            }
            .date{
                & > div{
                    padding: 6px 0px 7px;
                }
                p{
                    position: relative;
                    top: 16px;
                }
            }
            .time{
                p{
                    font-size: $small-font;
                    color: #dd2c00;
                }
            }
            .intensity{
                margin-top: 10px;
                font-size: $small-font;
            }
            .checkbox-wrapper{
                display: flex;
                .radio-btn{
                    .MuiSvgIcon-root{
                        font-size: $big-font;
                    }
                }
            }
            .submit-btn{
                margin-top: 20px;
                background-color: $ball;
            }
        }
    }
}