

.place-info-container{
    .card-board-wrapper{
        display: flex;
        justify-content: space-around;
        .card{
            width: 50%;
            margin-top: 10px;
            .card-header{
                span{
                    margin-bottom: 8px;
                }
                .setting-btn{
    
                }
            }
            .image{
                img{
                    width: 100%;
                }
            }
            .card-content{
                .card-words{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                .card-words-light{
                    display: flex;
                    align-items: center;
                    margin-bottom: 8px;
                    .check-icon{
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}