$ball: #e8581c;

.place-info-container{
    .card-board-wrapper{
        margin-bottom: 20px;
        display: flex;
        justify-content: space-around;
        .card{
            width: 50%;
            margin-top: 10px;
            .card-header{
                span{
                    margin-bottom: 8px;
                }
                .setting-btn{
    
                }
            }
            .image{
                img{
                    width: 100%;
                }
            }
            .card-content{
                .card-words{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .card-words-light{
                        display: flex;
                        align-items: center;
                        margin-bottom: 8px;
                        .check-icon{
                            margin-left: 5px;
                        }
                    }
                }
                .open-group-btn{
                    background-color: $ball;
                }
            }
        }
    }
    .groups{
        .group-container{
            display: flex;
            margin-bottom: 20px;
            justify-content: space-around;
            .card-container{
                display: flex;
                .col-left{

                }
                .col-right{
                    .modify-btn{
                        margin: 10px;
                    }
                    .participants-icons{
                        margin-top: 110px;
                        .participater{
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
}