// font size
$big: 50px;
$normal: 25px;
$small: 15px;
//color
$facebook: #4267b2;
$google: #ea4336;


.register-container{
  background-image: url(../../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  .register-form {
    padding: 20px;
    position: fixed;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    -webkit-box-shadow: -13px 17px 59px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: -13px 17px 59px -17px rgba(0,0,0,0.75);
    box-shadow: -13px 17px 59px -17px rgba(0,0,0,0.75);
    .form-control{
      margin: 15px;
    }
    span{
      margin: 10px;
      font-size: $normal;
    }
    input{
      padding: 5px;
      font-size: $small;
      border: none;
      border-radius: 8px;
    }
    .btn-wrapper{
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      button{
        padding: 10px;
        font-size: $small;
        border-radius: 8px;
        color: #ffffff;
        background-color: #000000;
        transition: all .3s ease-in;
        &:hover{
            color: #000000;
            background-color: #ffffff;
            letter-spacing: 5px;
        }
        a{
          text-decoration: none;
          color: #ffffff;
          &:hover{
            color: #000000;
          }
        }
      }
    }
  }
}

