$small-font: .7rem;
$icon-font: 1rem;
$big-font: 1.3rem;

$ball: #e8581c;
$gray: #faf5f3;
$white: #ebebf0;
$smoky-black: rgba(#222222, .85);

.place-info-container{
    .card-board-wrapper{
        background-image: url(../../../img/member2.jpg);
        background-size: cover;
        width: 100vw;
        min-height: 100vh;
        height: 100%;
        display: flex;
        justify-content: space-between;
        .groups-mobile{
            margin: 10px 0px;
            width: 57%;
            @media screen and (max-width: 696px){
                display: none;
            }
        }
        .details-mobile{
            display: block;
            margin: 0 auto;
        }
    }
    .detail-switch-btn{
        display: none;
        position: fixed;
        left: 45%;
        top: 90%;
        color: $white;
        background-color: $ball;
        &:hover{
            background-color: $smoky-black;
        }
        @media screen and (max-width: 696px){
            display: block;
        }
        .detail-switch-word{
            display: flex;
            font-size: $small-font;
            .detail-switch-icon{
                margin-left: 3px;
                font-size: $icon-font;
            }
        }
    }
    .room-switch-btn{
        display: none;
        position: fixed;
        left: 45%;
        top: 90%;
        color: $white;
        background-color: $ball;
        &:hover{
            background-color: $smoky-black;
        }
        @media screen and (max-width: 696px){
            display: block;
        }
        .room-switch-word{
            display: flex;
            font-size: $small-font;
            .room-switch-icon{
                margin-left: 3px;
                font-size: $icon-font;
            }
        }
    }
}