$small-font: .7rem;
$icon-font: 1rem;
$big-font: 1.3rem;

$ball: #e8581c;
$gray: #faf5f3;
$white: #ebebf0;
$smoky-black: rgba(#222222, .85);


.place-info-container{
    .groups{ 
        margin: 10px 0px;
        width: 57%;
        @media screen and (max-width: 696px){
            width: 100%;
        }
        .group-container{
            display: flex;
            flex-wrap: wrap;
            .group-search-bar{
                padding-left: 2.5%;
                width: 100%;
                .search-btn{
                    padding: 6px 0px 6px 0px; 
                    background-color: $white;
                    .date-word{
                        font-size: $small-font;
                    }
                    .intensity-word{
                        font-size: $small-font;
                    }
                }
                .date-btn{
                    border-radius: 0 0 0 1px;
                }
                .intensity-btn{
                    border-left: 0px solid $ball;
                    border-radius: 0 0 1px 0px;
                }
                .sort-icon{
                    font-size: $big-font;
                }
            }
            .card-container{
                width: 45%;
                display: flex;
                margin: 0 2.5% 5% 2.5%;
                background-color: $white;
                border-radius: 0;
                @media screen and (max-width: 696px){
                    width: 85%;
                }
                .col-left{
                    .card-content{
                        width: 100%;
                        .host-img-name-wrapper{
                            display: flex;
                            justify-content: space-between;
                            .place-name{
                                display: inline-block;
                                margin-bottom: 5px;
                                font-size: $big-font;
                            }
                            .host-img{
                                img{
                                    font-size: $small-font;
                                }
                            }
                        }
                        .people-need{
                            margin-bottom: 5px;
                            font-size: $small-font;
                            .people-need-qty{
                                padding: 0 5px;
                                font-size: $big-font;
                                color: $ball;
                            }
                        }
                        .place-intensity{
                            margin-bottom: 5px;
                            font-size: $small-font;
                        }
                        .place-date{
                            margin-bottom: 5px;
                            font-size: $small-font;
                        }
                        .place-time {
                            font-size: $small-font;
                        }
                    }
                    .card-action{
                        .join-btn{
                            padding: 10px 20px;
                            font-size: $small-font;
                            color: $gray;
                            background-color: $ball;
                        }
                        .quite-btn{
                            padding: 10px 20px;
                            font-size: $small-font;
                        }
                        .disable-btn{
                            font-size: $small-font;
                        }
                    }
                }
                .col-right{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin-left: 20px;
                    .modify-btn-wrapper{
                        margin: 10px;
                        .facebook-btn{
                            vertical-align: text-top;
                        }
                        .line-btn{
                            vertical-align: text-top;
                            margin: 2px 0px 0px 5px;
                            img{
                                width: 20px;
                                height: 20px;
                            }
                        }
                        .fake{
                            width: 16px;
                            height: 16px;
                        }
                    }
                    .participants-icons{
                        margin-bottom: 10px;
                        margin-right: 10px;
                        .participater{
                            font-size: $big-font;
                        }
                        .no-people-default{
                            padding: 10px;
                            font-size: $small-font;
                        }
                    }
                }
            }
            .default-display{
                margin-top: 3%;
                padding: 30px 30px;
                border-radius: 8px;
                background-color: $gray;
                img{
                    width: 300px;
                }
                .default-display-words{
                    font-size: 1rem;
                    text-align: center;
                }
            }
        }
    }
}
