$small-font: .7rem;
$big-font: 18px;
$icon-font: 25px;

$gray: #faf5f3;
$ball: #e8581c;
$facebook: #4267b2; 
$google: #ea4336;
$white: #ebebf0;
$smoky-black: rgba(#222222, .85);
$alert: #dd2c00;


.forget-password-container{
    background-image: url(../../../img/login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: relative;
    width: 100vw; 
    height: 100vh;
    .forget-password-wrapper{
        position: absolute;
        z-index: 1000;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 30px 50px;
        border-radius: 8px;
        background-color: $white;
        .forget-password-title{
            font-size: $big-font;
        }
        .form-control{
            margin-bottom: 30px;
            .email-icon{
                font-size: $icon-font;
                margin-top: 22px;
                margin-right: 12px;
            }
            .email{
                label{
                    font-size: $small-font;
                }
                input{
                    font-size: $small-font;
                }
                p{
                    color: $alert;
                }
            }
        }
        .send-email-btn{
            padding: 8px 25px;
            font-size: $small-font;
            background-color: $ball;
        }
    }
}